
        <app-navbar></app-navbar>
 

        <div class="container-fluid">
          <div class="row justify-content-between">
            <div class="col-auto">
              WELCOME {{user.firstName | uppercase}} !!
            </div>
            <div class="col-auto ">
              <button type="button" class="btn btn-outline-info btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
                Add new Todo List
              </button>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Please Enter title of TODO list</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                          <label>Title</label>
                          <input type="text" [(ngModel)]="title" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted }" />
                          <div *ngIf="submitted" class="invalid-feedback">
                              <div *ngIf="f.title.errors.required">Last Name is required</div>
                          </div>
                      </div>
                      <div class="form-group">
                        <div class="modal-footer">
                            
                          <button type="button" class="btn btn-primary"  (click)="onSubmit()">Save changes</button>
                          <button type="button" class="btn btn-secondary" id = "close" data-dismiss="modal">Close</button>
                        </div>
                        
                    </div>
                      
                    </form>
                    
                    </div>
                  
                 
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div class="row">
              
            <div class=" col-sm-12 col-md-4 col-lg-4 pad" *ngFor="let todoList of todoLists">
                
                <div class="card text-center ">
                    <div class="card-body">
                      <h5 class="card-title">{{todoList.todoListName}}</h5>
                      <p class="card-text">now you can track all the activities of {{todoList.todoListName}} add new task or mark it as compelete...and many more...</p>
                      <a [routerLink]="['/viewmultitodo',todoList.todoId]"  class="btn btn-primary">Go Inside</a>
                    </div>
                    <div class="card-footer text-muted">
                      {{todoList.createdOn | date:'fullDate'}}
                    </div>
                  </div>
            </div>
         
          </div>

          <div class="row">
              
              <div class=" col-sm-12 col-md-4 col-lg-4 pad" *ngFor="let todoList of todoListsOfFriends">
                  
                  <div class="card text-center ">
                      <div class="card-body">
                        <h5 class="card-title">{{todoList.todoListName}}</h5>
                        <p class="card-text">now you can track all the activities of {{todoList.todoListName}} add new task or mark it as compelete...and many more...</p>
                        <a [routerLink]="['/viewmultitodo',todoList.todoId]"  class="btn btn-primary">Go Inside</a>
                      </div>
                      <div class="card-footer text-muted">
                        {{todoList.createdOn | date:'fullDate'}}
                      </div>
                    </div>
              </div>
           
            </div>
        </div>
        